# Web & API
flask
openai
python-dotenv
fastmcp

# Database
pymongo
postgrest

# Data Collection
fastmcp
playwright
numpy
playwright

# OCR Pipeline
PyMuPDF
pytesseract
pdf2image
ebooklib
beautifulsoup4
python-docx
tqdm
pymupdf4llm

# Utils
python-levenshtein